/* ==========================================================================
   Card
========================================================================== */
.card {
	border-style: none;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.26);
	border-radius: 0;
}

/* Title + button + border below title and button */
.card-header-action {

	.card-title {
		
	}
	.btn {
		
	}
}

.card-details {
	
}
.card-title {
	
}
.card-subtitle {

}
.card-annotation {

}
.card-icon {

	.glyphicon {

	}
}
.card-image {
	
}
.card-user-image {
	
}
.card-link {
	
}
